.dashboard{
    height: fit-content;
    background-color: rgb(238, 238, 238);
    padding: 0px 250px;
    padding-bottom: 100px;
    padding-top: 50px;
}

.dash-nav{
    background-color: #4445C1 !important;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
}

.dashboard .hero-section{
    width: 100%;
    height: 300px;
    background-color: #4445C1;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
}

.dashboard .cards .card{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.dashboard .card{
    background-color: #ffffff;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    color: #000000;
}

.dashboard .section-three{
    display: flex;
}

.dashboard .section-three .card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

.dashboard .section-three .left, .dashboard .section-three .right{
    flex: 1;
}

.dashboard .carousel{
    padding: 20px;
    cursor: pointer;
}

.dashboard .carousel-item{
    padding: 30px;
    text-align: center;
}

.dashboard .carousel-item img{
    height: 50px;
    width: 50px;
    background-color: #d5d4fa;
    color: #000000;
    padding: 2px;
}

.dashboard button{
    padding: 10px;
    background-color: #4445C1;
    color: white;
    border: none;
    border-radius:  10px;
    box-shadow: 0px 0px 20px gainsboro;
    font-weight: bold;
    cursor: pointer;
}

.dashboard .im{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #beb3f1;
    color: #000000;
}

.dashboard .im p{
    color: #000000;
}

.dashboard .left{
    overflow: hidden;
}

.dashboard .img{
    max-width:100%;
    max-height:100%;
    border-radius: 10px;
}

.dashboard .section-three .right .card{
    padding: 20px;
}

.dashboard .section-three .right .card span{
    color: #4445C1;
    font-weight: bold;
}

.dashboard .chrome{
    width: 20px;
}

.dashboard .perks-section {
    padding: 20px;
}

.dashboard .section-three .card{
    height: fit-content;
}

.dashboard .progress-content{
    display: flex;
    justify-content: space-between;
}

.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 30px;
	width: 300px;
}

.progress-done {
	background: linear-gradient(to left, #4445C1, blue);
	box-shadow: 0 3px 3px -5px #4445C1, 0 1px 3px #4445C1;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}

.grow-list .list-item{
    margin: 10px;
    border-bottom: 2px solid #4445C1;
    padding: 10px;
    cursor: pointer;
}

.deposit {
    display: block !important;
    padding: 20px;
    background-color: #4445C1 !important;
    color: white !important;
}

.deposit button{
    box-shadow: none;
    border: 2px solid #ffffff;
}

.deposit p{
    margin: 20px 0px;
}