@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  /* padding: 0 80px; */
  background: linear-gradient(#101046, #7134ff);
  /* background-color: #101046; */
  color: white;
}

.full-body{
  padding: 0 80px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin-top: 30px;
  margin-bottom: 80px;
  height: 100px;
}

.hero-section{
  display: flex;
  height: 65vh;
}

.hero-left, .hero-right{
  flex: 1;
}

.hero-left{
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 100px;
}
.hero-right{
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.partner-stores {
  height: 200px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #7a7aff;
}


.mover {
  width: 10000px;
  background-color: rgba(255, 255, 255, 1);
  /* position: absolute; */
  overflow-x:hidden;
  top: 0;
  left: 0;

  animation: moveSlideshow 20s linear infinite;
  display: flex;
  align-items: center;

}

.mover img {
  display:inline-block;
  align-self: center;
  width:200px;
  margin: 0px 50px;
}

.fourth-section{
  font-size: 20px;
  text-align: center;
}

.tp-heading{
  padding: 10px;
}

.trusted-partners{
  margin: auto;
  font-size: 25px;
  display: flex;
  text-align: center;
  align-items: center;
  width: 40%;
  justify-content: space-around;
}

.sixth-section{
  align-items: center;
  margin-top: 50px;
  padding: 20px;
}

.faqs{
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}

.tp-photos{
  padding: 10px;
  margin: auto;
  height: 60px;
  width: 150px;
  border-radius: 15px;
  background-color: white;
  display: inline-block;
  align-items: center;
}

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-1100px);  
  }
}

.hero-left p{
  font-size: 24px;
}

.hero-left h1{
  font-size: 70px;
  line-height: 80px;
}

.hero-right img{
  width: 80%;
}


.btn-get-started{
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  font-size: 16px;
  height: 50px;
  transition: ease-in 0.1s;
  background-color: white;
}

.btn-get-started:hover{
  cursor: pointer;
  transform: scale(1.02);
}

.btn-download img{
  height: 30px;
  padding-top: 5px;
}

.btn-download{
  display: flex;
  align-items: center;
  width: 200px;
  height: 45px;
  justify-content: space-around;
  background-color: white;
  color: black;
  padding: 15px;
  border-radius: 20px;
  transition: ease-in 0.1s;
  font-weight: bold;
}

.btn-download .download-app {
  padding: 5px;
}

.btn-download:hover{
  cursor: pointer;
  transform: scale(1.02);
}

.second-section{
  display: flex;
  color: #000000;
  padding: 0px 50px;
}

.second-section-left, .second-section-right {
  flex: 1;
}

.second-section-left img{
  width: 30vw;
}

.second-section-right h2{
  font-size: 32px;
}

.second-section-right-inside{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.second-section-right-inside img{
  width: 200px;
}

.second-section-right-inside p{
  margin-top: 30px;
  font-size: 20px;
}



.third-section h1{
  text-align: center;
  color: white;
  margin-top: 100px;
  font-size: 40px;
  margin-bottom: 75px;
}

.cards{
  display: flex;
}

.card{
  flex: 1;
}

.card-content{
  color: white;
  margin: 30px;
  padding-bottom: 50px;
  text-align: center;
}

.card-content-left{
  top: 25%;
  color: white;
  margin: 30px;
  padding-bottom: 50px;
  text-align: center;
  position: relative;
}

.card-content h3{
  margin-bottom: 20px;
}

.calculator{
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #8f8fd4;
}

.range{
  margin-bottom: 50px;
  width: 100%;
}

.ranges{
  display: flex;
  justify-content: space-between;
}
 .calculator p {
  margin: 10px 0px;
}
/* calculator */
li {
  margin-bottom: 10px;
  width: 400px;
  list-style: null;
}
.one {
  float: left;
  text-align: left;
}
.two {
  float: right;
  text-align: right;
}

.calculator-bottom{
  background-color: #00abf5;
  padding: 10px;
  color: #ffffff;
  border-radius: 10px 10px 10px 10px;
  margin-top: 20px;
}

.one{
  padding-bottom: 10px;
}

.card-content-left h3{
  margin-bottom: 15px;
}

.calculator-bottom button{
  background-color: #EEF0FF;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #ffffff;
  font-weight: bold;
  cursor: pointer;
  margin-top: 60px;
}

.fourth-section h1{
  text-align: center;
  color: #000000;
  margin-top: 100px;
  font-size: 40px;
}

.fourth-section h3{
  text-align: center;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 80px;
}

.brands {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  margin-top: 40px;
}

.brands img{
  height: 10%;
  width: 10%;
}

/* ///////////////////////////////// */

.faq-heading{
  border-bottom: #777;
  padding: 20px 60px;
}

.faq-container{
display: flex;
justify-content: center;
flex-direction: column;
}

.hr-line{
width: 60%;
margin: auto;
}

/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
  /* background-color: #eee; */
  color: #444;
  cursor: pointer;
  padding: 30px 20px;
  width: 60%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;
}

.faq-body{
  margin: auto;
  /* text-align: center; */
 width: 50%; 
 padding: auto;
 
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.faq-page:hover {
  background-color: #F9F9F9;
}
/* Style the faq-page panel. Note: hidden by default */
.faq-body {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
.faq-page:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}



/* /////////////////////////////// */


.fifth-section{
  display: flex;
  height: 100vh;
  background-color: white;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 50px;
  border-radius: 20px;
  align-items: center;
}

.fifth-section .left{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.fifth-section .right{
  flex: 1;
}

.fifth-section img{
  width: 100%;
}

.fifth-section .left{
  color: #000000;
  text-align: center;
}

.fifth-section .left h1{
  font-size: 50px;
  margin-bottom: 30px;
}

.fifth-section .left p{
  font-size: 24px;
}

.fifth-section .left .text-field{
  height: 50px;
  margin-top: 50px; 
}

.btn-subscribe{
  transition: 0.1s ease-in;
  font-size: 20px;
}

.fifth-section .left input{
  width: 50%;
  height: 100%;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  border: 2px solid #4445C1;
  box-shadow: 0px 0px 20px gainsboro;
}

.fifth-section .left input:focus{
 outline: none;
}

.fifth-section .btn-subscribe:hover{
  transform: scale(1.1);
}

.fifth-section .left button{
  padding: 10px;
  background-color: #4445C1;
  color: white;
  border: none;
  height: 100%;
  border-radius:  10px;
  box-shadow: 0px 0px 20px gainsboro;
  font-weight: bold;
  cursor: pointer;
}

.footer {
  color: white;
  margin-top: 100px;
  padding: 50px 0px 50px 0px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.footer a{
  color: white;
}




.footer h2{
  margin-bottom: 20px;
}

.footer p{
  margin-top: 10px;
}


.footer img{
  width: 120px;
}

@media screen and (max-width: 800px) {
  .hero-section {
      flex-direction: column;
      height: fit-content;
      padding: 0px;
      margin: 0px;
      text-align: center;
  }

  .hero-left{
    order: 2;
  }

  .hero-left h1{
   font-size: 50px;
  }


  .hero-left p {
    font-size: 20px;
  }

  .hero-right{
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: -20px;
  }
  .full-body{
    margin: 0px;
    padding: 0px 30px;
  }

  .hero-left {
    margin: 0;
    margin-bottom: 50px;
    padding-top: 20px;
  }

  .navbar{
    margin-bottom: -40px;
  }

  .hero-left p , .hero-left h1{
    margin-bottom: 20px;
  }

  .cards{
    flex-direction: column;
  }
  
  .sayf-video{
    background-color: wheat;
  }

  .third-section h1{
    margin-bottom: 20px;
  }

  .card-content-left h3{
    margin-bottom: 20px;
  }

  .calculator{
    margin-top: -20px;
    margin-bottom: 30px;
  }

  .fifth-section{
    height: fit-content;
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }

  .footer{
    flex-direction: column;
    text-align: center;
  }

  
  .f2{
    margin-top: 30px;
    margin-left: 0px !important; 
    margin-bottom: 30px;
  }

  .fifth-section{
    margin-bottom: -80px;
  }

  .fifth-section .left h1{
    margin-bottom: 30px;
    font-size: 40px;
  }

  .fifth-section .left p{
    font-size: 18px;
  }

  .fifth-section .right{
    margin-top: 30px;
  }

  .trusted-partners{
    width: 100%;
    justify-content: space-around;
  }

  .trusted-partners div{
    margin: 0px 20px;
  }
  .terms-body{
    /* margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-down: 50px; */
    margin: 20px !important;
    padding: 20px !important;
  }
}

/* ////////////////////////////////// */
.terms-navbar{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  margin-top: 30px;
  margin-bottom: 80px;
  height: 100px;
}

.terms-navbar img{
  margin-bottom: -30px;
}

.terms-body{
  /* margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  margin-down: 50px; */
  margin: 50px 200px 50px 200px;
  background-color: #4222cf;
  position: relative;
}

.terms-body h2{
  margin-bottom: 20px;
}

.terms-body h1{
  text-align: center;
  font-size: 50px;
}

.terms-body{
  border-radius: 50px 0 50px 0;
  margin: 0 100px 100 100px;
  padding: 50px;
}

/* //////////////////////////////////////////// */


a {
  color: #000000;
  text-decoration: none;
}

.footer-logo{
  width: 50px;
}
